body{
    max-width: 100%;
    overflow-x: hidden;
}
.navbar{
	padding-top: 25px; 
	background-color: #F1F3FF;
}
#offcanvasRight{
    width: 250px;
}
#MainSection{
	background-color: #F1F3FF; 
	margin-right: 0px;
}
#MainSection-text{
	margin-left: 110px; 
	padding-right: 10px;
}
#mobil{
	padding: 30px 0 0 0;
}
.OurService{
	margin-top: 100px;
	margin-bottom: 100px;
}
#gambarService{
    padding-bottom: 25px;
}

h2{
	padding-bottom: 24px;
}
table{
	height: 200px;
}
.checklist{
	padding-left: 20px;
}
.whyus1 {
	margin-bottom: 35px;
}
#whyus2{
	padding-bottom: 100px;
}
.card-img-top{
	width: 70px; 
	padding: 15px;
}
.card-title{
  font-size: 16px;
}
.card-text{
  font-size: 14px;
}
#toTestimonial {
  padding-bottom: 100px;
}
.owl-carousel {
    overflow: hidden;
    padding-right: 0;
}
.owl-carousel .owl-item img {
    width: auto;
}  
.owl-nav {
    margin: 24px 0 0;
    text-align: center;
}
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    margin: 0 20px;
    height: 32px;
    width: 32px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 50px;
}  
.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover {
    background: #5CB85F;
    border: none;
}  
.bg-testimonial {
    overflow: hidden;
    position: relative;
    background-color: #F1F3FF;
    width: 100%;
    height: 270px;
    border-radius: 8px;
}  
.img-testimonial{
    margin: 30px;
    width: 80px !important;
    height: 80px !important;
}
.title {
    color: #fff;
    font-weight: 500;
    margin: 5px 0;
} 
.testi-text {
    margin-top: 10px;
    font-size: 14px;
}  
.testi-user {
    font-weight: 700;
    font-size: 14px;
}
.img-star {
    width: 20%; 
    height: 20%;
}

#TryNow p {
    padding-bottom: 45px;
}
#FAQ{
	margin-top: 100px;
	margin-bottom: 150px; 
}
.icon{
	padding-right: 12px;
}

/* layar mobile */
@media screen and (max-width: 414px) {
     .navbar{
        margin-right: -10px;
    } 
    #MainSection{
        margin-right: -10px;
    }
    #MainSection-text {
        padding-left: 10px;
    }
    .img-testimonial {
        width: 70px !important;
        height: 70px !important;
    }
    .testi-card{
        height: 320px !important;
        margin-left: 20px !important;
    }
    .user-img {
        object-position: 50px 30px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        position: absolute;
        right: 0;
        top: 0;
    }
    .desc-card{
        margin-top: 100px;
        margin-left: auto;
        margin-right: 10px;
        padding: 27px;
    }
    .bg-testimonial{
        width: 90%;
        height: 270px;
        overflow: hidden;
        position: relative;
        height: 270px;
        border-radius: 8px;
        overflow: hidden;
    }
    .img-star {
        width: 88px !important;
        height: 21px !important;
        margin-left: auto;
        margin-right: auto;
    }

}
/* layar tablet */
 @media screen and (max-width: 820px) {
    .navbar{
        margin-right: -13px;
    } 
    .button-signup{
        padding-top: 12px;
    }
    #MainSection{
        margin-right: -13px;
    }
    #MainSection-text {
        margin-left: 8px;
        padding-top: 20px;
    }
    #MainSection-text h1{
        font-size: 36px;
    }
    #mobil{
        margin-left: auto;
        width: 85%;
    }
    #gambarService{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 85%;
    }
    #toWhyUs h2 {
        text-align: center;
     }
    .whyus1{
        text-align: center;
    }
    #FAQ h2 {
        text-align: center;
    }
    .FAQ1{
        text-align: center;
    }
 }

 /* css cari mobil */
.search-box {
    margin-top: -40px;
    width: 100%;
    height: 100%;
    padding : 15px;
    background: #ffffff;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.17);
    border-radius: 8px;
    position: relative;
}
  
.search-box .label {
	font-family: "Rubik", sans-serif;
	font-weight: 400;
	font-size: 13px;
	line-height: 18px;
    margin-bottom: 5px;
	color: #3c3c3c;
}

.search-box .form-control {
	font-weight: lighter;
	font-size: 12px;
	line-height: 18px;
    margin-right: 30px;
}

.search-box .form-select {
    margin-right: 30px;
}

.search-box .btn-search {
	background: #5cb85f;
	border-radius: 2px;
	margin-top: 25px;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
}

.time {
    background-image: url(../assets/image/clock.svg);
}
.people {
    background-image: url(../assets/image/people.svg);
}

.search-box select:hover {
	background-color: transparent;
}
  
.search-box .placeholder {
	background-color: transparent;
}

.btn-outline-secondary:hover {
	color: #6c757d;
	border-color: #5CB85F !important;
}

.btn-outline-secondary:focus {
	box-shadow: 0 0 0 0.3rem rgb(201 231 202 / 50%);
}

.list-group-item.active {
	color: black;
	background-color: #C9E7CA;
	border-color: transparent;
}

.spesifikasi{
    padding-left: 10px;
}

